/* ***************** aplayer日间模式调整 ***************** */
/*背景色*/
.aplayer{
	background: rgba(255, 255, 255, 0.60)!important;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07),0 1px 5px 0 rgba(0,0,0,.1);
	position: relative;
}
.aplayer.aplayer-fixed .aplayer-lrc:after,.aplayer.aplayer-fixed .aplayer-lrc:before {
	display: none
}
.aplayer.aplayer.aplayer-fixed .aplayer-body{
	background:rgba(255, 255, 255, 0.60)!important;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.07),0 1px 5px 0 rgba(0,0,0,.1);
	position: fixed;
}
/*毛玻璃效果*/
.aplayer-list{
	backdrop-filter: blur(3px);
}
.aplayer-info{
	backdrop-filter: blur(3px);
}
/*滚动条*/
.aplayer .aplayer-list ol::-webkit-scrollbar {
	width: 5px
}
.aplayer .aplayer-list ol::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: #b0e1ff
}
.aplayer .aplayer-list ol::-webkit-scrollbar-thumb:hover {
	background-color: #b0e1ff
}
/*圆角*/
.aplayer.aplayer-fixed .aplayer-list{
    border-radius: 6px 6px 0 0!important;
}
.aplayer.aplayer-fixed .aplayer-miniswitcher{
    border-radius: 0 6px 6px 0!important;
}
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body{
    transition: 0.28s!important;
    border-radius: 6px!important;
}	
/*选中与播放中歌曲激活颜色*/
.aplayer .aplayer-list ol li:hover{
    background: #b0e1ff!important;
}
.aplayer .aplayer-list ol li.aplayer-list-light{
    background: #ffdffa!important;
}

/*aplayer黑暗模式*/
[data-theme=dark]
.aplayer{
    background: rgba(22, 22, 22, 0.60)!important;
    color: rgb(255, 255, 255);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.07),0 1px 5px 0 rgba(0,0,0,.1);
}
[data-theme=dark]
.aplayer.aplayer-fixed .aplayer-body{
    background: rgba(22, 22, 22, 0.60)!important;
    color: rgb(255, 255, 255);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.07),0 1px 5px 0 rgba(0,0,0,.1);
}
[data-theme=dark]
.aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon path{
	fill: #d4d4d4;
}
[data-theme=dark]	
.aplayer .aplayer-list ol li:hover{
    background: #407290!important;
}
[data-theme=dark]
.aplayer .aplayer-list ol li.aplayer-list-light{
    background: #9c8098!important;
}
[data-theme=dark]
.aplayer .aplayer-info .aplayer-controller .aplayer-time{
    color: #d4d4d4;
}
[data-theme=dark]
.aplayer .aplayer-list ol li .aplayer-list-index{
    color: #d4d4d4;
}
[data-theme=dark]
.aplayer .aplayer-list ol li .aplayer-list-author{
    color: #d4d4d4;
}

/* ***************** 页面波浪特效 ***************** */
.main-hero-waves-area {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: -11px;
	z-index: 5;
  }
  .waves-area .waves-svg {
	width: 100%;
	height: 5rem;
  }
  /* Animation */
  
  .parallax > use {
	animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
  .parallax > use:nth-child(1) {
	animation-delay: -2s;
	animation-duration: 7s;
	fill: #f7f9febd;
  }
  .parallax > use:nth-child(2) {
	animation-delay: -3s;
	animation-duration: 10s;
	fill: #f7f9fe82;
  }
  .parallax > use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 13s;
	fill: #f7f9fe36;
  }
  .parallax > use:nth-child(4) {
	animation-delay: -5s;
	animation-duration: 20s;
	fill: #ffffff;
  }
  /* 黑色模式背景 */
  [data-theme="dark"] .parallax > use:nth-child(1) {
	animation-delay: -2s;
	animation-duration: 7s;
	fill: #18171dc8;
  }
  [data-theme="dark"] .parallax > use:nth-child(2) {
	animation-delay: -3s;
	animation-duration: 10s;
	fill: #18171d80;
  }
  [data-theme="dark"] .parallax > use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 13s;
	fill: #18171d3e;
  }
  [data-theme="dark"] .parallax > use:nth-child(4) {
	animation-delay: -5s;
	animation-duration: 20s;
	fill: #000000;
  }
  
  @keyframes move-forever {
	0% {
	  transform: translate3d(-90px, 0, 0);
	}
	100% {
	  transform: translate3d(85px, 0, 0);
	}
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
	.waves-area .waves-svg {
	  height: 40px;
	  min-height: 40px;
	}
  }

/* 自定义滚动条样式 */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
  }
  
  ::-webkit-scrollbar-track {
	background-color: rgba(245, 73, 73, 0.2);  /* 红色调背景 */
	border-radius: 2em;
  }
  
  ::-webkit-scrollbar-thumb {
	background-color: #f54949;  /* 红色滚动条滑块 */
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
	border-radius: 2em;
  }
  
  ::-webkit-scrollbar-corner {
	background-color: transparent;
  }
  


